<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @type_suggestion.description %>
</p>

<%= link_to 'Edit', edit_type_suggestion_path(@type_suggestion) %> |
<%= link_to 'Back', type_suggestions_path %>
