<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @municipality.description %>
</p>

<%= link_to 'Edit', edit_municipality_path(@municipality) %> |
<%= link_to 'Back', municipalities_path %>
